USE [master]
GO
/****** Object:  Database [KutuphaneSitesi]    Script Date: 6.11.2021 13:08:25 ******/
CREATE DATABASE [KutuphaneSitesi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KutuphaneSitesi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\KutuphaneSitesi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KutuphaneSitesi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\KutuphaneSitesi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KutuphaneSitesi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KutuphaneSitesi]
GO
/****** Object:  Table [dbo].[TBL_CEZA]    Script Date: 6.11.2021 13:08:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CEZA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UYE] [int] NULL,
	[BASLANGIC] [smalldatetime] NULL,
	[BITIS] [smalldatetime] NULL,
	[PARA] [decimal](18, 2) NULL,
	[HAREKET] [int] NULL,
 CONSTRAINT [PK_TBL_CEZA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_DUYURU]    Script Date: 6.11.2021 13:08:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_DUYURU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KONU] [varchar](150) NULL,
	[ICERIK] [varchar](500) NULL,
	[TARIH] [date] NULL,
 CONSTRAINT [PK_TBL_DUYURU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_HAKKINDA]    Script Date: 6.11.2021 13:08:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_HAKKINDA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HAKKINDA] [varchar](950) NULL,
	[DURUM] [bit] NULL,
 CONSTRAINT [PK_TBL_HAKKINDA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_HAREKET]    Script Date: 6.11.2021 13:08:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_HAREKET](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KITAP] [int] NULL,
	[UYE] [int] NULL,
	[PERSONEL] [int] NULL,
	[ALISTARIH] [smalldatetime] NULL,
	[IADETARIH] [smalldatetime] NULL,
	[ISLEMDURUM] [bit] NULL,
	[UYEGETIRTARIH] [smalldatetime] NULL,
 CONSTRAINT [PK_TBL_HAREKET] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_ILETISIM]    Script Date: 6.11.2021 13:08:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ILETISIM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](50) NULL,
	[MAIL] [varchar](50) NULL,
	[TELEFON] [varchar](50) NULL,
	[MESAJ] [varchar](250) NULL,
 CONSTRAINT [PK_TBL_ILETISIM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_KASA]    Script Date: 6.11.2021 13:08:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_KASA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AY] [varchar](20) NULL,
	[TUTAR] [decimal](18, 2) NULL,
 CONSTRAINT [PK_TBL_KASA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_KATEGORI]    Script Date: 6.11.2021 13:08:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_KATEGORI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_KATEGORI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_KITAP]    Script Date: 6.11.2021 13:08:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_KITAP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](50) NULL,
	[KATEGORI] [int] NULL,
	[YAZAR] [int] NULL,
	[YIL] [char](4) NULL,
	[YAYINEVI] [varchar](50) NULL,
	[SAYFA] [varchar](4) NULL,
	[DURUM] [bit] NULL,
	[RESIM] [varchar](250) NULL,
 CONSTRAINT [PK_TBL_KITAP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MESAJLAR]    Script Date: 6.11.2021 13:08:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MESAJLAR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GONDEREN] [varchar](50) NULL,
	[ALICI] [varchar](50) NULL,
	[KONU] [varchar](100) NULL,
	[ICERIK] [varchar](500) NULL,
	[TARIH] [smalldatetime] NULL,
 CONSTRAINT [PK_TBL_MESAJLAR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PERSONEL]    Script Date: 6.11.2021 13:08:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PERSONEL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ADSOYAD] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_PERSONEL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_UYELER]    Script Date: 6.11.2021 13:08:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_UYELER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](50) NULL,
	[SOYAD] [varchar](50) NULL,
	[MAIL] [varchar](50) NULL,
	[KULLANICIADI] [varchar](50) NULL,
	[SIFRE] [varchar](20) NULL,
	[FOTOGRAF] [varchar](350) NULL,
	[TELEFON] [varchar](20) NULL,
	[OKUL] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_UYELER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_YAZARLAR]    Script Date: 6.11.2021 13:08:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_YAZARLAR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](50) NULL,
	[SOYAD] [varchar](50) NULL,
	[DETAY] [varchar](500) NULL,
 CONSTRAINT [PK_TBL_YAZARLAR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_DUYURU] ON 

INSERT [dbo].[TBL_DUYURU] ([ID], [KONU], [ICERIK], [TARIH]) VALUES (1, NULL, NULL, CAST(N'2021-10-23' AS Date))
INSERT [dbo].[TBL_DUYURU] ([ID], [KONU], [ICERIK], [TARIH]) VALUES (2, N'denem amaçlı', N'123', CAST(N'2021-10-23' AS Date))
SET IDENTITY_INSERT [dbo].[TBL_DUYURU] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_HAKKINDA] ON 

INSERT [dbo].[TBL_HAKKINDA] ([ID], [HAKKINDA], [DURUM]) VALUES (1, N'KUTUPHANEMİZE HOŞ GELDNİZN TAFDKASDASDASDKASFŞJAFJOEJOTGHEOGJDKMFSJKOFIJSOEJFESFESOFSEFSEFSFS', 1)
INSERT [dbo].[TBL_HAKKINDA] ([ID], [HAKKINDA], [DURUM]) VALUES (2, N'deneme', 0)
INSERT [dbo].[TBL_HAKKINDA] ([ID], [HAKKINDA], [DURUM]) VALUES (3, NULL, 0)
SET IDENTITY_INSERT [dbo].[TBL_HAKKINDA] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_HAREKET] ON 

INSERT [dbo].[TBL_HAREKET] ([ID], [KITAP], [UYE], [PERSONEL], [ALISTARIH], [IADETARIH], [ISLEMDURUM], [UYEGETIRTARIH]) VALUES (7, 20, 2, 2, CAST(N'2021-10-13T00:00:00' AS SmallDateTime), CAST(N'2021-10-20T00:00:00' AS SmallDateTime), 1, CAST(N'2021-10-14T00:00:00' AS SmallDateTime))
INSERT [dbo].[TBL_HAREKET] ([ID], [KITAP], [UYE], [PERSONEL], [ALISTARIH], [IADETARIH], [ISLEMDURUM], [UYEGETIRTARIH]) VALUES (8, 2, 3, 4, CAST(N'2021-10-13T00:00:00' AS SmallDateTime), CAST(N'2021-10-20T00:00:00' AS SmallDateTime), 1, CAST(N'2021-10-14T00:00:00' AS SmallDateTime))
INSERT [dbo].[TBL_HAREKET] ([ID], [KITAP], [UYE], [PERSONEL], [ALISTARIH], [IADETARIH], [ISLEMDURUM], [UYEGETIRTARIH]) VALUES (9, 16, 1, 2, CAST(N'2021-10-14T00:00:00' AS SmallDateTime), CAST(N'2021-10-21T00:00:00' AS SmallDateTime), 1, CAST(N'2021-10-14T00:00:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[TBL_HAREKET] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_ILETISIM] ON 

INSERT [dbo].[TBL_ILETISIM] ([ID], [AD], [MAIL], [TELEFON], [MESAJ]) VALUES (1, N'Taha İnce', N'deneme@hotmail.com', N'05333044025', N'Bu bir deneme mesajıdır.')
INSERT [dbo].[TBL_ILETISIM] ([ID], [AD], [MAIL], [TELEFON], [MESAJ]) VALUES (2, N'Berke', N'berke@gmail.com', N'053031161', N'deneme')
INSERT [dbo].[TBL_ILETISIM] ([ID], [AD], [MAIL], [TELEFON], [MESAJ]) VALUES (3, N'Metehan Ertuğrul', N'Metehan@gmail.com', N'05393001380', N'sisteme kayıt olamadım')
SET IDENTITY_INSERT [dbo].[TBL_ILETISIM] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_KATEGORI] ON 

INSERT [dbo].[TBL_KATEGORI] ([ID], [AD]) VALUES (1, N'Bilim Kurgu')
INSERT [dbo].[TBL_KATEGORI] ([ID], [AD]) VALUES (2, N'Macera')
INSERT [dbo].[TBL_KATEGORI] ([ID], [AD]) VALUES (3, N'Şiir')
SET IDENTITY_INSERT [dbo].[TBL_KATEGORI] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_KITAP] ON 

INSERT [dbo].[TBL_KITAP] ([ID], [AD], [KATEGORI], [YAZAR], [YIL], [YAYINEVI], [SAYFA], [DURUM], [RESIM]) VALUES (1, N'Bütün Şiirler', 3, 4, N'1951', N'iDEFİX', N'204', 1, N'https://i.dr.com.tr/cache/500x400-0/originals/0000000058308-1.jpg')
INSERT [dbo].[TBL_KITAP] ([ID], [AD], [KATEGORI], [YAZAR], [YIL], [YAYINEVI], [SAYFA], [DURUM], [RESIM]) VALUES (2, N'Yürüyen Kentler 1', 1, 3, N'2015', N'DR', N'405', 1, N'https://i.dr.com.tr/cache/600x600-0/originals/0000000444406-1.jpg')
INSERT [dbo].[TBL_KITAP] ([ID], [AD], [KATEGORI], [YAZAR], [YIL], [YAYINEVI], [SAYFA], [DURUM], [RESIM]) VALUES (3, N'Dünyanın Merkezine Yolculuk', 8, 1, N'1970', N'Kedi Yayınevi', N'120', 0, N'https://i.dr.com.tr/cache/600x600-0/originals/0000000383004-1.jpg')
SET IDENTITY_INSERT [dbo].[TBL_KITAP] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_MESAJLAR] ON 

INSERT [dbo].[TBL_MESAJLAR] ([ID], [GONDEREN], [ALICI], [KONU], [ICERIK], [TARIH]) VALUES (1, N'ata@gmail.com', N'thnc1903@gmail.com', N'deneme', N'merhaba taha kitap hakkında', CAST(N'2021-10-20T00:00:00' AS SmallDateTime))
INSERT [dbo].[TBL_MESAJLAR] ([ID], [GONDEREN], [ALICI], [KONU], [ICERIK], [TARIH]) VALUES (2, N'berke@gmail.com', N'thnc1903@gmail.com', N'deneme123', N'denem mesajı', CAST(N'2021-10-20T00:00:00' AS SmallDateTime))
INSERT [dbo].[TBL_MESAJLAR] ([ID], [GONDEREN], [ALICI], [KONU], [ICERIK], [TARIH]) VALUES (3, N'thnc1903@gmail.com', N'berke@gmail.com', N'deneme00', N'deneme', CAST(N'2021-10-20T00:00:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[TBL_MESAJLAR] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_PERSONEL] ON 

INSERT [dbo].[TBL_PERSONEL] ([ID], [ADSOYAD]) VALUES (2, N'Ali Alioğlu')
INSERT [dbo].[TBL_PERSONEL] ([ID], [ADSOYAD]) VALUES (4, N'Eda Yeşil')
INSERT [dbo].[TBL_PERSONEL] ([ID], [ADSOYAD]) VALUES (7, N'Mehmet Tekin')
SET IDENTITY_INSERT [dbo].[TBL_PERSONEL] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_UYELER] ON 

INSERT [dbo].[TBL_UYELER] ([ID], [AD], [SOYAD], [MAIL], [KULLANICIADI], [SIFRE], [FOTOGRAF], [TELEFON], [OKUL]) VALUES (1, N'Taha', N'İnce', N'thnc1903@gmail.com', N'thnc1903', N'1234567', N'https://media-exp1.licdn.com/dms/image/C4E03AQGpjzkwJ0P1Nw/profile-displayphoto-shrink_200_200/0/1633897429408?e=1640217600&v=beta&t=iMKtSMeyUMVSD_EOrDi0g_gkXToaH1lc-20y5bMtPGk', N'05333040267', N'Haliç Üniversitesi')
INSERT [dbo].[TBL_UYELER] ([ID], [AD], [SOYAD], [MAIL], [KULLANICIADI], [SIFRE], [FOTOGRAF], [TELEFON], [OKUL]) VALUES (2, N'Ataberk', N'Öztürk', N'ata@gmail.com', N'ata1907', N'123', N'DENEME', N'0530987456', N'Balıkesir Üni')
INSERT [dbo].[TBL_UYELER] ([ID], [AD], [SOYAD], [MAIL], [KULLANICIADI], [SIFRE], [FOTOGRAF], [TELEFON], [OKUL]) VALUES (3, N'Berke', N'Uzunoğlu', N'berke@gmail.com', N'uzn55', N'12345', N'https://i.pinimg.com/280x280_RS/35/2b/ab/352bab5feed2bd4dd8f7f5b812cb0217.jpg', N'0538464646', N'Haliç Üniversitesi')
SET IDENTITY_INSERT [dbo].[TBL_UYELER] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_YAZARLAR] ON 

INSERT [dbo].[TBL_YAZARLAR] ([ID], [AD], [SOYAD], [DETAY]) VALUES (1, N'Jules', N'Verne', N'1910YILINDA VENEDİKTE DOĞMUŞ HİKAYE YAZARI')
INSERT [dbo].[TBL_YAZARLAR] ([ID], [AD], [SOYAD], [DETAY]) VALUES (3, N'Philipp', N'Reevve', N'Bilim kurgu kitaparı yazar')
INSERT [dbo].[TBL_YAZARLAR] ([ID], [AD], [SOYAD], [DETAY]) VALUES (4, N'Orhan', N'Veli', N'Şiir yazarı İstanbulda doğdu')
SET IDENTITY_INSERT [dbo].[TBL_YAZARLAR] OFF
GO
ALTER TABLE [dbo].[TBL_HAKKINDA] ADD  CONSTRAINT [DF_TBL_HAKKINDA_DURUM]  DEFAULT ((0)) FOR [DURUM]
GO
ALTER TABLE [dbo].[TBL_HAREKET] ADD  CONSTRAINT [DF_TBL_HAREKET_ISLEMDURUM]  DEFAULT ((0)) FOR [ISLEMDURUM]
GO
ALTER TABLE [dbo].[TBL_CEZA]  WITH CHECK ADD  CONSTRAINT [FK_TBL_CEZA_TBL_HAREKET] FOREIGN KEY([HAREKET])
REFERENCES [dbo].[TBL_HAREKET] ([ID])
GO
ALTER TABLE [dbo].[TBL_CEZA] CHECK CONSTRAINT [FK_TBL_CEZA_TBL_HAREKET]
GO
ALTER TABLE [dbo].[TBL_CEZA]  WITH CHECK ADD  CONSTRAINT [FK_TBL_CEZA_TBL_UYELER] FOREIGN KEY([UYE])
REFERENCES [dbo].[TBL_UYELER] ([ID])
GO
ALTER TABLE [dbo].[TBL_CEZA] CHECK CONSTRAINT [FK_TBL_CEZA_TBL_UYELER]
GO
ALTER TABLE [dbo].[TBL_CEZA]  WITH CHECK ADD  CONSTRAINT [FK_TBL_CEZA_TBL_UYELER1] FOREIGN KEY([UYE])
REFERENCES [dbo].[TBL_UYELER] ([ID])
GO
ALTER TABLE [dbo].[TBL_CEZA] CHECK CONSTRAINT [FK_TBL_CEZA_TBL_UYELER1]
GO
ALTER TABLE [dbo].[TBL_HAREKET]  WITH CHECK ADD  CONSTRAINT [FK_TBL_HAREKET_TBL_KITAP] FOREIGN KEY([KITAP])
REFERENCES [dbo].[TBL_KITAP] ([ID])
GO
ALTER TABLE [dbo].[TBL_HAREKET] CHECK CONSTRAINT [FK_TBL_HAREKET_TBL_KITAP]
GO
ALTER TABLE [dbo].[TBL_HAREKET]  WITH CHECK ADD  CONSTRAINT [FK_TBL_HAREKET_TBL_PERSONEL] FOREIGN KEY([PERSONEL])
REFERENCES [dbo].[TBL_PERSONEL] ([ID])
GO
ALTER TABLE [dbo].[TBL_HAREKET] CHECK CONSTRAINT [FK_TBL_HAREKET_TBL_PERSONEL]
GO
ALTER TABLE [dbo].[TBL_HAREKET]  WITH CHECK ADD  CONSTRAINT [FK_TBL_HAREKET_TBL_UYELER] FOREIGN KEY([UYE])
REFERENCES [dbo].[TBL_UYELER] ([ID])
GO
ALTER TABLE [dbo].[TBL_HAREKET] CHECK CONSTRAINT [FK_TBL_HAREKET_TBL_UYELER]
GO
ALTER TABLE [dbo].[TBL_KITAP]  WITH CHECK ADD  CONSTRAINT [FK_TBL_KITAP_TBL_KATEGORI] FOREIGN KEY([KATEGORI])
REFERENCES [dbo].[TBL_KATEGORI] ([ID])
GO
ALTER TABLE [dbo].[TBL_KITAP] CHECK CONSTRAINT [FK_TBL_KITAP_TBL_KATEGORI]
GO
ALTER TABLE [dbo].[TBL_KITAP]  WITH CHECK ADD  CONSTRAINT [FK_TBL_KITAP_TBL_YAZARLAR] FOREIGN KEY([YAZAR])
REFERENCES [dbo].[TBL_YAZARLAR] ([ID])
GO
ALTER TABLE [dbo].[TBL_KITAP] CHECK CONSTRAINT [FK_TBL_KITAP_TBL_YAZARLAR]
GO
USE [master]
GO
