@using MvcKutuphane.Models.Entity
@model List<TBL_DUYURU>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}



<table style="margin:20px" class="table table-bordered">

    <tr style="background-color:#ff6a00">

        <td>ID</td>
        <td>KONU</td>
        <td>ICERIK</td>
       


    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.KONU</td>
            <td>@x.ICERIK</td>


        </tr>

    }



</table>

<a href="/Duyurular/DuyuruEkle/"><button class="btn btn-info">Ekle</button></a>