@using MvcKutuphane.Models.Entity
@model List<TBL_YAZARLAR>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div style="margin-top:30px">
    <table class="table table-bordered">

        <tr style="color:white;background-color:#b600ff">

            <th>YAZAR ID</th>
            <th>YAZAR AD</th>
            <th>YAZAR SOYAD</th>
            <th>AÇIKLAMA</th>
            <th>İŞLEMLER</th>

        </tr>

        @foreach (var yzr in Model)
        {


            <tr>
                <td>@yzr.ID</td>
                <td>@yzr.AD</td>
                <td>@yzr.SOYAD</td>
                <td>@yzr.DETAY</td>
                <td>
                    <a class="btn btn-danger" href="/Yazar/YazarSil/@yzr.ID" onclick="return confirm('Silmek istediğine eminmsin?')">Sil</a>
                    <a class="btn btn-success" href="/Yazar/YazarGetir/@yzr.ID">Güncelle</a>
                </td>


            </tr>
        }


    </table>
</div>
<br />
<a href="/Yazar/YazarEkle/" class="btn btn-primary">Yeni Yazar Ekle</a>
<br />
<br />
<br />
