@using MvcKutuphane.Models.Entity
@model List<TBL_PERSONEL>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<div style="margin-top:40px">
    <table class="table table-bordered">

        <tr style="color:white" class="bg-dark">

            <th>Personel ID</th>
            <th>Personel AD</th>
            <th>İŞLEMLER</th>

        </tr>

        @foreach (var prs in Model)
        {


            <tr>
                <td>@prs.ID</td>
                <td>@prs.ADSOYAD</td>
                <td>
                    <a class="btn btn-danger" href="/Personel/PersonelSil/@prs.ID">Sil</a>
                    <a class="btn btn-success" href="/Personel/PersonelGetir/@prs.ID">Güncelle</a>
                </td>


            </tr>
        }


    </table>

</div>
<br />

<a href="/Personel/PersonelEkle/" class="btn btn-primary">Yeni Personel Ekle</a>
<br />
<br />
<br />
<br />
